body {
  background-color: black;
}

.hero {
  padding: 100px;
  height: 700px;
  position: relative;
}

.hero i {
  position: relative;
  left: 50%;
  top: 100%;
  font-size: 40px;
}

.header-text {
  position:absolute;
  margin: 0 auto;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width:100%;
}

.header-text h1 {
  font-family: 'Syne', sans-serif;
  font-size: 90px;
  color:rgb(252, 252, 252);
  text-shadow: 2px 2px 30px black;
  line-height: 50px;
}

.hero img {
  width: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -45%);
}

#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  margin: 0 auto;
}

.socials {
  background-color: rgb(33, 33, 33);
  padding-top: 5px;
  padding-bottom: 5px;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 50px;
  border-radius: 10px;
  text-align: center;
}

ul {
  padding-inline-start: 0;
}

.socials li {
  display: inline;
  margin-left: 20px;
}

.fa-brands {
  color: white;
  font-size: 50px;
}

.about {
  font-family: 'Syne', sans-serif;
  font-size: 50px;
  color: rgb(194, 194, 194);
  padding-bottom: 50px;
  padding-left: 200px;
  padding-right: 150px;
  line-height: 80px;
}

#work-color {
  color: rgb(215, 67, 13);
}

#passion-color {
  color: rgb(26, 32, 194);
}

#fun-color {
  color: cadetblue;
}


/*
.about {
  width: 60%;
  margin: auto;
}

.about-section {
  margin: 50px auto;
  /* background-color: rgb(33, 33, 33); */
  /* padding: 10px 50px;
  border-radius: 10px;
  text-align: center;
}

.about-section h2 {
  font-family: 'Syne', sans-serif;
  font-size: 70px;
  color: cadetblue;
  line-height: 30px;
}

.about-section p {
  font-family: 'Syne', sans-serif;
  font-size: 30px;
  color: cadetblue;
  line-height: 40px;
} */
