.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 200px;
}

.content-block {
  outline: none;
  cursor: pointer;
}

.hidden-block {
  display: none;
  font-family: 'Syne', sans-serif;
  font-size: 40px;
  color: rgb(252, 252, 252);
  margin-top: 20px;
  line-height: 1.4;
}

.content-block:focus + .hidden-block {
  display: block;
}

.content-block .work-color {
  font-family: 'Syne', sans-serif;
  font-size: 80px;
  color: rgb(215, 67, 13);
}

.content-block i {
  padding-left: 20px;
  font-size: 60px;
  color: rgb(215, 67, 13);
}

.content-block #passion-color {
  color: rgb(26, 32, 194);
}

.content-block #fun-color {
  color: cadetblue;
}
