
.banner {
  padding: 100px;
  height: 575px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.banner .fa-angles-down {
  position: absolute;
  left: 50%;
  top: 103%;
  transform: translate(-50%, -100%);
  font-size: 40px;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.5;
  }
}

/* .banner .fa-angles-down:hover {
  text-shadow: 2px 2px 30px rgb(170, 170, 170);
} */

.banner .banner-text {
  position:absolute;
  margin: 0 auto;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -60%);
  width:100%;
  transition: 1s ease;
}

.banner .banner-text a {
  font-family: 'Syne', sans-serif;
  font-size: 90px;
  color:rgb(252, 252, 252);
  text-shadow: 2px 2px 30px black;
  margin-top: 50px;
  text-decoration: none;
  transition: initial 0.5s ease;
}

.banner .banner-text a:hover {
  text-shadow: 1px 1px 30px rgb(175, 177, 123);
}

.banner img {
  width: 500px;
  text-align: center;
}
/*
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
} */
