.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  padding: 0 200px;
  row-gap: 15px;
}

.content hr {
  border: 0.1px solid rgb(45, 45, 45);
}

.content-block {
  outline: none;
  cursor: pointer;
  transition-duration: 5s;
}

.content-block h2 {
  text-decoration: underline solid transparent;
  text-underline-offset: 5px;
  transition: text-decoration 0.3s ease-in-out;
}

.content-block h2:hover {
  text-decoration: underline solid;
  text-underline-offset: 5px;
}

.hidden-block {
  display: none;
  font-family: 'Syne', sans-serif;
  font-size: 40px;
  color: rgb(252, 252, 252);
  margin-top: 10px;
  margin-bottom: 20px;
  line-height: 1.4;
  transition-duration: 5s;
}


.content-block:focus + .hidden-block {
  display: block;
}

.content-block .work-color {
  font-family: 'Syne', sans-serif;
  font-size: 80px;
  color: rgb(215, 67, 13);
}

.content-block .work-color > i {
  padding-left: 20px;
  font-size: 60px;
  color: rgb(215, 67, 13);
}

.content-block .passion-color {
  font-family: 'Syne', sans-serif;
  font-size: 80px;
  color: rgb(26, 32, 194);
}

.content-block .passion-color > i {
  padding-left: 20px;
  font-size: 60px;
  color: rgb(26, 32, 194);
}

.content-block .fun-color {
  font-family: 'Syne', sans-serif;
  font-size: 80px;
  color: cadetblue;
}

.content-block .fun-color > i {
  padding-left: 20px;
  font-size: 60px;
  color: cadetblue;
}
